---
import Layout from '../../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import PageSection from '../../components/PageSection.astro';
import BlogCastPlayer from '../../components/BlogCastPlayer.astro';

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');

  return blogPosts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();

---
<Layout title={post.data.title} heroSize="mini" summary={post.data.summary} featuredImage={post.data.featuredImage}>
  <PageSection class="blog content">
    { post?.data?.blogcast && <BlogCastPlayer url={post.data.blogcast}></BlogCastPlayer> }
    <Content />
    <div class="likes" v-scope={`likes({ title:'${post.data.slug}' })`}></div>
  </PageSection>
</Layout>

<script src="../../js/likes.js"></script>
