---
import PageSection from '../components/PageSection.astro';
import BlankLayout from '../layouts/BlankLayout.astro';
import SiteNav from '../components/SiteNav.astro';

import resumeData from '../data/resume.json';

---
<BlankLayout title="Andrew Walpole - Résumé" summary="Ramblings about what I know and what I think I know.">
  <div class="resume-nav-container">
    <SiteNav showHome />
  </div>
  <PageSection id="resume">
    <div class="contact-info">
      <div class="info-container">
        <h1>{resumeData.name}</h1>
        <h2>{resumeData.title}</h2>
        <a href="/static/andrew-walpole-resume.pdf" target="_blank">Download PDF Résumé</a>
      </div>

      
    </div>

    <div class="professional-profile">
      <h3>Professional Summary</h3>
      { resumeData.professionalSummary.map( ps => <p>{ps}</p>)}
    </div>

    <div class="skills">
      <h3>Technical Skills</h3>

      <div>
        <h4>Front-end Development</h4>
        <ul>
          { resumeData.skills.filter(skill => skill.category === 'front-end').map( skill => <li>{skill.skill}</li>)}
        </ul>
      </div>

      <div>
        <h4>Back-end Development</h4>
        <ul>
          { resumeData.skills.filter(skill => skill.category === 'back-end').map( skill => <li>{skill.skill}</li>)}
        </ul>
      </div>

      <div>
        <h4>Devops & Cloud</h4>
        <ul>
          { resumeData.skills.filter(skill => skill.category === 'devops').map( skill => <li>{skill.skill}</li>)}
        </ul>
      </div>

      <div>
          <h4>Leadership & Management</h4>
          <ul>
            { resumeData.skills.filter(skill => skill.category === 'leadership').map( skill => <li>{skill.skill}</li>)}
          </ul>
      </div>
    </div>

    <div class="work-experience">
      <h3>Career & Professional Experience</h3>
      { resumeData.workExperience.map( work => {
        return (
          <div class="work-item">
            <div class="work-item-summary">
              <h4>{work.title}</h4>
              <h5>{ work.website ? <a class="company-link" href={work.website} target='_blank'>{work.company}</a> : work.company }</h5>
              <p>{work.startDate.month}/{work.startDate.year} - { work.endDate.month && <>{work.endDate.month}/</>}{work.endDate.year}</p>
            </div>
            <ul class="blurbs">
              { work.blurbs.map( blurb => <li class="work-blurb">{blurb}</li>)}
            </ul>
          </div>
        );
      })}
    </div>

    <div class="contact-details" style="margin-top:40px;">
      <h3>Let's chat!</h3>
      <a href={`mailto:${resumeData.contact.email}`}>{resumeData.contact.email}</a>
      <p>{resumeData.contact.phone}</p>
      <p>{resumeData.contact.location}</p>
    </div>
  </PageSection>
</BlankLayout>

<style lang="scss" is:global>

  #resume {
    display:grid;
    grid-template-columns: 1fr;

    @media (min-width:1080px) {
      grid-template-columns: 370px 1fr;
      gap:1rem;
    }

    @media (max-width:1079px) {
      .contact-info, .contact-details {
        text-align:center;
        margin:0 auto;
      }
    }

    .contact-info {
      position:relative;
      grid-row: 1 / 3;
      

      .info-container {
        position:sticky;
        top:20px;
      }
    }

    .contact-details {
      text-align:Center;
      justify-self:Center;
      grid-column: 1 / -1;
      // width:100%;
      padding:10px 20px 20px;
      border-radius: 10px;

      color: var(--fg-alt);
      background-color: var(--bg-alt);

      a, p {
        font-size:1.4rem;
        font-weight:400;
        font-style:italic;
        margin:0;

        color: var(--fg-alt);
      }
    }

    .professional-profile {
      p {
        font-size: var(--fs--2);
      }

      margin-bottom:40px;
    }

    .skills {
      @media (min-width:1080px) {
      grid-column: 2 / -1;
      }

      column-gap: 30px;
      display:grid;
      @media (min-width:1080px) {
        grid-template-columns: 1fr 1fr;
      }

      h3 {
        grid-column : 1 / -1;
      }

      h4 {
        margin-block: 10px 0px;
        font-size: var(--fs-0);
      }

      ul {
        margin: 10px 0 0 0;
        padding:1.2ch;
      }

      li {
        font-size: var(--fs--2);
        font-weight:400;
      }
    }

    .work-experience {
      grid-column: 1 / -1;
      margin-top: 2rem;

      display:grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: dense;

      @media (min-width:1080px) {
        grid-template-columns: repeat(3, 1fr);
      }

      > h3 {
        grid-column: 2 / -1;

        @media (max-width:1079px) {
          grid-column: 1 / -1;
        }
      }
    }

    .work-item {

      grid-column: 1 / -1;

      display:grid;
      grid-template-columns: subgrid;
      grid-auto-flow: dense;

      .company-link {
        font-weight:inherit;
        font-size:inherit;
      }

      .work-item-summary {
        @media (max-width:460px) {
          grid-column: 1 / -1;
        }

        @media (max-width:1079px) {
          grid-column: 1 / -1;
        }

        h4, h5 {
          margin-block: 1rem;
        }
      }

      .blurbs {
        
        grid-column:  2 / -1;

        @media (max-width:1079px) {
          grid-column: 1 / -1;
        }
        .work-blurb {
          font-size: var(--fs--2);

          & + .work-blurb {
            margin-top:1rem;
          }
        }

        @media (max-width:460px) {
          padding:0 0 0 10px ;
          grid-column: 1 / -1;
        }
      }
    }



  h1 {
    font-size:var(--fs-4);
  }

  h2 {
    font-size: var(--fs-2);
  }

  h3 {
    font-size: var(--fs-1);
  }

  h4 {
    font-size: var(--fs-1);
    font-style: normal;
    font-weight:700;
  }

  h5 {
    font-size: var(--fs-0);
    font-weight:400;
  }

  p, li, a {
    font-size: var(--fs--1);
  }
  
}

.resume-nav-container {
  margin:0 auto;
}


</style>
