---

import '../styles/main.scss';

import ColorThemeToggle from '../components/ColorThemeToggle.vue';
import Footer from '../components/Footer.astro';
import HeadContent from '../components/HeadContent.astro';
import Hero from '../components/Hero.astro';
import PageReader from '../components/PageReader.vue';

const baseurl = "https://andrewwalpole.com"

const {
  title = "Andrew Walpole",
  summary = "Principal Web Developer and Engineering Manager",
  featuredImage = baseurl + "/static/andrewwalpole.jpg",
  path = "/",
	heroSize = '',
} = Astro.props;

console.log( { Astro })

---

<!DOCTYPE html>
<html lang="en">

	<HeadContent {title} {summary} {featuredImage} path={Astro.url.pathname} />
	<body>
		<ColorThemeToggle client:visible />
		<main>
			<Hero size={heroSize}></Hero>
			<slot />
			<Footer />
			<PageReader title={Astro.url.pathname} client:visible></PageReader>
		</main>
	</body>
</html>

